/.vs
/src/OrderManagement.UI/.config
/src/OrderManagement.UI/bin
/src/OrderManagement.UI/obj
/src/OrderManagement.Data/obj
/src/OrderManagement.Data/bin
/src/OrderManagement.Domain/obj
/src/OrderManagement.Domain/bin
/src/OrderManagement.Repository/obj
/src/OrderManagement.Repository/bin
/src/OrderManagement.UI.Razor/bin
/src/OrderManagement.UI.Razor/obj
/src/OrderManagement.API/obj
/src/OrderManagement.API/bin
/src/Basic/obj
/src/Basic/bin
